@use 'base';
header {
  position: absolute;
  display: flex;
  top: 25px;
  left: 20px;
  right: 20px;
  column-gap: 90px;
  row-gap: 17px;
  flex-direction: column;

  @media screen and (width >= 1200px) {
    left: 120px;
    flex-direction: row;
    right: 120px;
  }
}

.billboard {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  column-gap: 30px;

  @media screen and (width >= 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.menu-search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (width >= 1200px) {
    flex-direction: row;
    flex-grow: 1;
  }
}

.search {
  background-color: base.$dark;
  border: none;
  border-radius: 50px;

  width: 100%;
  height: 25px;
  padding-left: 10px ;

  @media screen and (width >= 1200px) {
    width: 248px;
  }

}

.form-search {
  padding-top: 20px;

  @media screen and (width >= 1200px) {
    padding: 0;
  }
}

input::placeholder {
  font-size: 13.3px;
  line-height: 15.29px;
  font-weight: 400;
}
