@use 'base';

.page-popular-track {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (width >= 1200px){
    width: 1200px;
  }
}

.songs {
  display: grid;
  grid-template-rows: repeat(6, max-content);
  grid-template-columns: 1fr;
  padding-top: 49px;
  column-gap: 55px;
  row-gap: 25px;

  @media screen and (width >= 1200px){
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

  }
}

.popular-track {
  display: flex;
  column-gap: 15px;
}

.track-img {
  width: 55px;
  height: 55px
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.track {
  display: flex;
  justify-content: space-between;
}

.h3 {
  font-size: 12.8px;
  font-weight: bold;
  margin: 0;
  line-height: 19.2px;
}
