@use 'base';

.page-app {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  h2 {
    text-align: center;
    margin-bottom: 47px ;

    @media screen and (width >= 1200px) {
      margin-bottom: 50px ;
    }
  }

  @media screen and (width >= 1200px) {
    padding-top: 100px;
    width: 1200px;
  }
}

.advertising {
  display: flex;

  flex-direction: column;
  align-items: center;
  column-gap: 144px;

  @media screen and (width >= 1200px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.advertising-text {
  display: flex;
  flex-direction: column;
  order: 1;
  padding-top: 16px;
  row-gap: 16px;

  @media screen and (width >= 1200px) {
    order: 0;
    max-width: 600px;
  }
}

.download {
  border-radius: 32px;
  width: 131px;
  height: 53px;
  background-color: base.$red;
  font-size: 12.8px;
  padding: 16px 40px;
  border: none;
}
