@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf")
}

$black:#08020d;
$gray:#e0e0e0;
$dark-gray:#cacaca;
$dark:#3c3d3d;
$green:#34c176;
$orange:#f89202;
$purple:#5328a1;
$red:#95390c;
$white:#ffff;

body {
  font-family:"Roboto", sans-serif;
  line-height: 1.5;
  color: $dark-gray;
  background-color: $black;
  margin: 0;
}

@mixin image($name) {
  background-image: url("../images/#{$name}");
  background-position: center;
  background-size: cover;
}

@mixin not-center($name) {
  background-image: url("../images/#{$name}");
  background-size: cover;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  @media screen and (min-width: 1200px) {
    font-size: 60px;
    line-height: 90px;
  }
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 57px;
  }
}

.m-0 {
  margin: 0;
}

header {
  position: absolute;
  display: flex;
  top: 25px;
  left: 20px;
  right: 20px;
  column-gap: 90px;
  row-gap: 17px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    left: 120px;
    flex-direction: row;
    right: 120px;
  }
}

.icon {
  @include image("logo.svg");

  width: 24px;
  height: 24px;
}

.color-w {
  color: $white;
}


.billboard {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  column-gap: 30px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.menu-search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-grow: 1;
  }
}

.search {
  background-color: $dark;
  border: none;
  border-radius: 50px;

  width: 100%;
  height: 25px;
  padding-left: 10px ;
  @media screen and (min-width: 1200px) {
    width: 248px;
  }
}

input::placeholder {
  font-size: 13.3px;
  line-height: 15.29px;
  font-weight: 400;
}

.page-description {
  @include image("banner.png");
  display: flex;
  justify-content: center;
}

.des {
  display: flex;
  padding-top: 248px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-top: 200px;
    margin-bottom: 150px;
    align-items: center;
    padding: 0;
  }
}

.m-10 {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  max-width: 570px;
  padding: 20px;
  margin-bottom: 1.5rem;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 24px;
  }
}

.form-search {
  padding-top: 10px;
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.name {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  border: 2px solid $dark-gray;
  border-radius: 3px;
  background-color: transparent;
  @media screen and (min-width: 1200px) {
    width: 273px;
  }
}

.email {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: transparent;
  border: 2px solid $dark-gray;
  border-radius: 3px;
  @media screen and (min-width: 1200px) {
    width: 273px;
  }
}

.button {
  width: 100%;
  height: 57px;
  padding: 20px 30px;
  background-color: $green;
  border-radius: 5px;
  border: 0;
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.page-pricing {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.center {
  text-align: center;
  padding-bottom: 50px ;
}

h3 {
  font-size: 30px;
  margin: 0;
  line-height: 45px;
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

.card {
  display: flex;
  flex-direction: column;
  column-gap: 47px;
  row-gap: 50px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.pricing-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}

.bg-free {
  @include not-center("subscribe_1.png")
}

.bg-standard {
  @include not-center("subscribe_2.png")
}


.bg-premium {
  @include not-center("subscribe_3.png")
}

.pricing-value  {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 32px;
  line-height: 48px;
  color: $white;
  column-gap: 16px;

}

.subscription {
  margin-top: 20px;
  text-align: center;
}

.number {
  font-size: 64px;
  line-height: 64px;
}

.btn {
  width: 100%;
  height: 10%;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.pricing-footer {
  font-size: 12.8px;
  padding-top: 66px;
  margin-bottom: 60px;
  line-height: 19.2px;
  text-align: center;
}

.description {
  font-size: 16px;
  margin-top: 40px;
  line-height: 24px;
  text-align: center;
}

.page-news {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.news-item {
  display: flex;
  column-gap: 50px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.news-footer {
  margin-top: 25px;
}

.news-author {
  display: flex;

  margin-bottom: 48px;
  column-gap: 16px;
}

.avatar {
  @include image("avatar.png");

  width: 19px;
  height: 19px;
}

.color-or {
  color: $orange;
  text-transform: uppercase;
}

.album {
  width: 135px;
  height: 53px;
  border-radius: 5px;
  color: #CACACA;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #CACACA;
}

.ordinary {
  padding-top: 75px;
  @media screen and (min-width: 1200px) {
    padding-top: 68px;
    flex-direction: row-reverse;
  }

}

.page-app {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.advertising {
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 1200px) {
    column-gap: 155px;
    flex-direction: row;
  }
}

.advertising-text {
  display: flex;
  row-gap: 16px;
  padding-top: 20px;
  flex-direction: column;
}

.download {
  border-radius: 32px;
  width: 131px;
  height: 53px;
  background-color: $red;
  font-size: 12.8px;
  padding: 16px 40px 16px 40px;
  border: none;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {
  display: grid;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-rows: repeat(5, max-content);
  grid-template-columns: 1fr;
  @media screen and (min-width: 1200px) {
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-between;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
}

.padingt-rem {
  padding-top: 2rem;
}

.h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.p-15 {
  padding-top: 15px;
}

.google {
  @include image("Google+.png");

  width: 26px;
  height: 17px;
}

.twitter {
  @include image("Twitter.png");

  width: 22px;
  height: 19px;
}

.messenger {
  display: flex;
  column-gap: 25px;
  padding-top: 15px;
}

.line {
  width: 100x;
  background-color: #CACACA;
  border: 1px solid #CACACA;
}

.low-menu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  column-gap: 16px;
  row-gap: 20px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-description-artist {
  @include image("Morten Harket.png");
  display: flex;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 223px;
  padding-left: 20px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    padding-left: 120px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}


.description-artist {
  padding-top: 35px;
  @media screen and (min-width: 1200px) {
    padding-top: 49px;
  }
}

.mix-favorite {
  display: flex;
  row-gap: 30px;
  padding-top: 30px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    padding-top: 49px;
    column-gap: 24px;
    flex-direction: row;
  }
}

.btn-artist {
  display: flex;
  column-gap: 15px;
  width: 200px;
  padding: 20px 30px;
  font-size: 12.8px;
  line-height: 1.5rem;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}

.play-button {
  @include image("play-button.svg");
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(2);
}

.heart {
  @include image("heart.svg");
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(2);
}

.purple {
  background-color: #5328A1;
}

.red {
  background-color: #95390C;
}

.page-popular-track {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
}

.songs {
  display: grid;
  grid-template-rows: repeat(6, max-content);
  grid-template-columns: 1fr;
  padding-top: 49px;
  column-gap: 55px;
  row-gap: 25px;
  @media screen and (min-width: 1200px){
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

  }

}

.popular-track {
  display: flex;
  column-gap: 15px;
}

.track-img {
  width: 55px;
  height: 55px
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.track {
  display: flex;
  justify-content: space-between;
}

.h3 {
  font-size: 12.8px;
  font-weight: bold;
  margin: 0;
  line-height: 19.2px;
}

.page-discography {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
}

.discography {
  display: grid;
  grid-template-rows: minmax(0, min-content);
  grid-template-columns: repeat(2, 138px);
  padding-top: 50px;
  column-gap: 50px;
  row-gap: 25px;
  @media screen and (min-width: 1200px){
    grid-template-rows: repeat(2, min-content);;
    grid-template-columns: repeat(4, 250px);
    }
}

.discography-item {
  img {
    width: 137px;
    height: 137px;
    @media screen and (min-width: 1200px){
      width: 250px;
      height: 250px;
    }
  }

}

.discography-info {
  margin-top: 10px;
}

.h18px {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  line-height: 27px;
}

.m-16 {
  margin-top: 16px;
}

.p {
  font-size: 12.8px;
  line-height: 19.2px;
}

.page-similar {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
}

.similar {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, max-content));
  grid-template-columns: repeat(2, 137px);
  padding-top: 50px;
  column-gap: 50px;
  row-gap: 25px;
  @media screen and (min-width: 1200px) {
    grid-template-rows: repeat(2, minmax(0, max-content));
    grid-template-columns: repeat(4, 250px);
  }
}


.similar-item {
  img {
    width: 137px;
    height: 137px;
    @media screen and (min-width: 1200px) {
      width: 250px;
      height: 250px;
    }
  }
}

.similar-info {
  text-align: center;
  margin-top: 10px;
}
