@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf")
}

$black:#08020d;
$gray:#e0e0e0;
$dark-gray:#cacaca;
$dark:#3c3d3d;
$green:#34c176;
$orange:#f89202;
$purple:#5328a1;
$red:#95390c;
$white:#ffff;

body {
  font-family:"Roboto", sans-serif;
  line-height: 1.5;
  color: $dark-gray;
  background-color: $black;
  margin: 0;
}

@mixin image($name) {
  background-image: url("../images/#{$name}");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  @media screen and (min-width: 1200px) {
    font-size: 60px;
    line-height: 90px;
  }
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 57px;
  }
}

.m-0 {
  margin: 0;
}

.header {
  position: absolute;
  display: flex;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 1200px) {
    padding-left: 119px;
    padding-right: 119px;
  }
}

.icon {
  @include image("logo.svg");

  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.color-w {
  color: $white;
}

.p {
  font-size: 11px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  column-gap: 30px;
  margin-right: 458px;
}

.search {
  background-color: $dark;
  border: none;
  border-radius: 13px;

  width: 248px;
  height: 25px;
  padding-left: 10px ;
}

input::placeholder {
  font-size: 13.3px;
  line-height: 15.29px;
  font-weight: 400;
}

.page-description {
  @include image("banner.png");
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    padding-left: 119px;
    padding-right: 119px;
  }
}

.m-10 {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  max-width: 570px;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.name {
  width: 273px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  border: 2px solid $dark-gray;
  border-radius: 3px;
  background-color: transparent;
}

.email {
  width: 273px;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: transparent;
  border: 2px solid $dark-gray;
  border-radius: 3px;
}

.button {
  width: 570px;
  height: 57px;
  padding: 20px 30px;
  margin-top: 30px;
  background-color: $green;
  border-radius: 5px;
  border: 0;
}

